<!DOCTYPE html>
<html>
<head>
<title>Hello Pug</title>

<link rel="stylesheet" href="styles/main.css" />

</head>

<body>

<a href="/"><button>Home</button></a>
<a href="/about"><button>About</button></a>

<p class = "greetings" id = "people">Hello World!</p>
<img src="/testimage.jpg" alt="Testing Image">
<img src="/img2.jpg" alt="Testing Image">

</body>
</html>
