<!DOCTYPE html>
<html>
<head>
<title>Hello Pug</title>

<link rel="stylesheet" href="styles/main.css" />

</head>

<body>

<a href="/"><button>Home</button></a>
<a href="/about"><button>About</button></a>

<h1>My Fav Civilatition</h1>
<div class="p">
<p>My fav Civilazation is </p>
</div>

</body>
</html>
